  #main-window[tabsintitlebar]:not([inFullscreen]) #toolbar-menubar[inactive] ~ #TabsToolbar:not(:-moz-lwtheme) {
    background-image: -moz-linear-gradient(#5382D3, #4271C9) !important;
  }
  #main-window[tabsintitlebar]:not([inFullscreen]):-moz-window-inactive #toolbar-menubar[inactive] ~ #TabsToolbar:not(:-moz-lwtheme) {
    background-image: -moz-linear-gradient(#A2BCE3, #99B2DD) !important;
  }

  #main-window {
    background-image: -moz-linear-gradient(#4574CB, #4271C9) !important;
  }
  #main-window:-moz-window-inactive {
    background-image: -moz-linear-gradient(#9CB4DE, #99B2DD) !important;
  }

  #main-window[tabsontop=false] #titlebar-content:-moz-lwtheme,
  #main-window[sizemode=normal] #titlebar-content:-moz-lwtheme,
  #titlebar-content:not(:-moz-lwtheme) {
    background-image: -moz-linear-gradient(#6293DE, #5282D4, #4674CB) !important;
    box-shadow: 0 -1px 0 0 #85ACE4 !important;
  }
  #main-window[tabsontop=false]:-moz-window-inactive #titlebar-content:-moz-lwtheme,
  #main-window[sizemode=normal]:-moz-window-inactive #titlebar-content:-moz-lwtheme,
  #titlebar-content:not(:-moz-lwtheme):-moz-window-inactive {
    background-image: -moz-linear-gradient(#AAC4E7, #A3BCE3, #9CB4DE) !important;
    box-shadow: 0 -1px 0 0 #BDD1EC !important;
  }