.bookmark-item > .toolbarbutton-icon {
    -moz-margin-start: -2px !important;
    -moz-margin-end: -2px !important;
}

.bookmark-item > .toolbarbutton-text {
    -moz-margin-start: 2px !important;
    -moz-margin-end: -2px !important;
}